.content8 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; line-height:125%; text-decoration: none;}
.content9 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; line-height:125%; text-decoration: none;}
.content10 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height:125%; text-decoration: none;}
.content11 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height:125%; text-decoration: none;}
.content12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height:125%; text-decoration: none;}
.content14 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; line-height:125%; text-decoration: none;}
.content16 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height:125%; text-decoration: none;}
.content18 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; line-height:125%; text-decoration: none;}

.comment { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #e60011; text-decoration: none;}
.comment10 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #e60011; text-decoration: none;}
.comment12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #e60011; text-decoration: none;}
.commentwhite { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #F8F8F8; text-decoration: none;}

.warning10 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #e00080;}
.warning12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #e00080;}
.warning14 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #e00080;}

.userinfo12 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height:125%; text-decoration: none;}